<launch>
  <arg name="grasp_frame" default="grasp" />

  <node name="grasp_detection" pkg="chair_manipulation_grasp_detection" type="depth_image_detection_node" output="screen">
    <rosparam file="$(find chair_manipulation_grasp_detection)/cfg/depth_image_detection.yaml" />
    <param name="grasp_frame" value="$(arg grasp_frame)" />
  </node>
</launch>