<?xml version="1.0" ?>
<launch>

  <!-- Rotate the grasp such that its orientation aligns with the tcp link. -->
  <arg name="grasp_to_grasp_aligned_XYZYPR" default="0 0 0 0 0 0" />

  <!-- launch move group for first robot -->
  <group ns="robot1">
    <!-- remap controllers -->
    <remap from="/robot1/robot1_arm_trajectory_controller"                              to="/robot1_arm_trajectory_controller" />
    <remap from="/robot1/robot1_left_finger_action_controller"                          to="/robot1_left_finger_action_controller" />
    <remap from="/robot1/robot1_right_finger_action_controller"                         to="/robot1_right_finger_action_controller" />
    <remap from="/robot1/robot2_arm_trajectory_controller"                              to="/robot2_arm_trajectory_controller" />
    <remap from="/robot1/robot2_left_finger_action_controller"                          to="/robot2_left_finger_action_controller" />
    <remap from="/robot1/robot2_right_finger_action_controller"                         to="/robot2_right_finger_action_controller" />

    <remap from="/robot1/robot1_arm_trajectory_controller/follow_joint_trajectory"      to="/robot1_arm_trajectory_controller/follow_joint_trajectory" />
    <remap from="/robot1/robot1_arm_trajectory_controller/state"                        to="/robot1_arm_trajectory_controller/state" />
    <remap from="/robot1/robot1_arm_trajectory_controller/command"                      to="/robot1_arm_trajectory_controller/command" />

    <remap from="/robot1/robot1_left_finger_action_controller/gripper_cmd"              to="/robot1_left_finger_action_controller/gripper_cmd" />
    <remap from="/robot1/robot1_right_finger_action_controller/gripper_cmd"             to="/robot1_right_finger_action_controller/gripper_cmd" />

    <remap from="/robot1/robot2_arm_trajectory_controller/follow_joint_trajectory"      to="/robot2_arm_trajectory_controller/follow_joint_trajectory" />
    <remap from="/robot1/robot2_arm_trajectory_controller/state"                        to="/robot2_arm_trajectory_controller/state" />
    <remap from="/robot1/robot2_arm_trajectory_controller/command"                      to="/robot2_arm_trajectory_controller/command" />

    <remap from="/robot1/robot2_left_finger_action_controller/gripper_cmd"              to="/robot2_left_finger_action_controller/gripper_cmd" />
    <remap from="/robot1/robot2_right_finger_action_controller/gripper_cmd"             to="/robot2_right_finger_action_controller/gripper_cmd" />

    <remap from="/robot1/robot_description" to="/robot_description" />
    <remap from="/robot1/joint_states" to="/joint_states" />

    <!-- sensor configuration for Moveit -->
    <rosparam ns="move_group" command="load" file="$(find chair_manipulation_gazebo)/cfg/sensors.yaml" />

    <!-- launch moveit -->
    <include file="$(find dual_arm_manipulator_moveit_config)/launch/dual_arm_manipulator_moveit_planning_execution.launch">
      <arg name="use_rviz" value="false" />
    </include>
  </group>

  <!-- launch move group for second robot -->
  <group ns="robot2">
    <!-- remap controllers -->
    <remap from="/robot2/robot1_arm_trajectory_controller"                              to="/robot1_arm_trajectory_controller" />
    <remap from="/robot2/robot1_left_finger_action_controller"                          to="/robot1_left_finger_action_controller" />
    <remap from="/robot2/robot1_right_finger_action_controller"                         to="/robot1_right_finger_action_controller" />
    <remap from="/robot2/robot2_arm_trajectory_controller"                              to="/robot2_arm_trajectory_controller" />
    <remap from="/robot2/robot2_left_finger_action_controller"                          to="/robot2_left_finger_action_controller" />
    <remap from="/robot2/robot2_right_finger_action_controller"                         to="/robot2_right_finger_action_controller" />

    <remap from="/robot2/robot1_arm_trajectory_controller/follow_joint_trajectory"      to="/robot1_arm_trajectory_controller/follow_joint_trajectory" />
    <remap from="/robot2/robot1_arm_trajectory_controller/state"                        to="/robot1_arm_trajectory_controller/state" />
    <remap from="/robot2/robot1_arm_trajectory_controller/command"                      to="/robot1_arm_trajectory_controller/command" />

    <remap from="/robot2/robot1_left_finger_action_controller/gripper_cmd"              to="/robot1_left_finger_action_controller/gripper_cmd" />
    <remap from="/robot2/robot1_right_finger_action_controller/gripper_cmd"             to="/robot1_right_finger_action_controller/gripper_cmd" />

    <remap from="/robot2/robot2_arm_trajectory_controller/follow_joint_trajectory"      to="/robot2_arm_trajectory_controller/follow_joint_trajectory" />
    <remap from="/robot2/robot2_arm_trajectory_controller/state"                        to="/robot2_arm_trajectory_controller/state" />
    <remap from="/robot2/robot2_arm_trajectory_controller/command"                      to="/robot2_arm_trajectory_controller/command" />

    <remap from="/robot2/robot2_left_finger_action_controller/gripper_cmd"              to="/robot2_left_finger_action_controller/gripper_cmd" />
    <remap from="/robot2/robot2_right_finger_action_controller/gripper_cmd"             to="/robot2_right_finger_action_controller/gripper_cmd" />

    <remap from="/robot2/robot_description" to="/robot_description" />
    <remap from="/robot2/joint_states" to="/joint_states" />

    <!-- sensor configuration for Moveit -->
    <rosparam ns="move_group" command="load" file="$(find chair_manipulation_gazebo)/cfg/sensors.yaml" />

    <!-- launch moveit -->
    <include file="$(find dual_arm_manipulator_moveit_config)/launch/dual_arm_manipulator_moveit_planning_execution.launch">
      <arg name="use_rviz" value="false" />
    </include>
  </group>

  <!-- grasp -> grasp_tcp_aligned (first robot) -->
  <node name="robot1_grasp_to_grasp_tcp_aligned" pkg="tf2_ros" type="static_transform_publisher"
        args="$(arg grasp_to_grasp_aligned_XYZYPR) robot1_grasp robot1_grasp_tcp_aligned" />
  
  <!-- grasp -> grasp_tcp_aligned (second robot) -->
  <node name="robot2_grasp_to_grasp_tcp_aligned"  pkg="tf2_ros" type="static_transform_publisher"
        args="$(arg grasp_to_grasp_aligned_XYZYPR) robot2_grasp robot2_grasp_tcp_aligned" />

  <!-- rviz -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find chair_manipulation_gazebo)/cfg/scene.rviz" respawn="false" output="screen" />

</launch>